<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gold</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'game/style.css' %}">
</head>
<body>
    <div id="wrapper">

        <div id="goldCounter"> Your Gold: </div>
        <ul id="quests">

            {{quest_list | safe}}
         </ul>

        <ul id="log">
            <li class="entry"> Earned foo in q</li>
        </div>
    </div>
    
</body>
</html>