<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gold</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'game/style.css' %}">
</head>
<body>
    <div id="wrapper">

        <div id="goldCounter"> Your Gold: <span class="box">{{ gold }}</span> <a href="/reset">Play again</a> </div>
        <ul id="quests">
            {% for q in quests %}

            
            <li class="box quest">
                {%csrf_token%}
                <form class="detail" action="/process_money" method="POST"> {% csrf_token %} <input type="hidden" name="quest_id" value="{{q.id}}">
                <h2> {{q.location}} </h2> <p>{{q.description}}</p><input type="submit" name="" value="Find Gold!">  </form></li>
            {%endfor%}
        </ul>

        <div id="log">
            
             <p> Activities:</p>
            <ul>
                {% for l in log %}
                <li class="entry {{l.outcome}} ">{{l.msg}} ({{l.time}}) </li>
                {%endfor%}
            </ul>
        </div>
    </div>
    
</body>
</html>