<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}">
</head>
<body>
    <div id="wrapper">

        <div class="box"><p>It is now:</p></div>
        <div class="box"><p> <strong> strftime </strong> (utc time) </p><p>{{time}}</p></div>
        <div class="box">
            <p><strong>now</strong> filter (chicago time)</p>
            <p> {%now "M dS, Y"%} </p>
            <p> {%now "h:i:s a"%} </p>
        </div>
      

    </div>
    
    
</body>
</html>